pipeline/job_cnsms_lz_to_lk.json
{
	"name": "job_cnsms_lz_to_lk",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata_Cnsms",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "lz_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"filename": "*",
							"db_code": {
								"value": "@pipeline().globalParameters.CNSMS",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata_Cnsms",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_Cnsms').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "lz_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"db_code": {
											"value": "@pipeline().globalParameters.CNSMS",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dl_sink_raw",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat('ods_', item().name)",
											"type": "Expression"
										},
										"prefix_path": {
											"value": "@concat('raw/',pipeline().globalParameters.CNSMS,'/BasicData')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete orginal data",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data prepare",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Copy data archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "lz_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"db_code": {
											"value": "@pipeline().globalParameters.CNSMS",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Copy data prepare",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dl_source_raw",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat('ods_',item().name)",
											"type": "Expression"
										},
										"prefix_path": {
											"value": "@concat('raw/',pipeline().globalParameters.CNSMS,'/BasicData')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dl_sink_prepare",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat('ods_',replace(item().name,'.csv' ,'.parquet' ))",
											"type": "Expression"
										},
										"prefix_path": {
											"value": "@concat('prepare/',pipeline().globalParameters.CNSMS,'/BasicData')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dl_source_raw",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat('ods_',item().name)",
											"type": "Expression"
										},
										"prefix_path": {
											"value": "@concat('raw/',pipeline().globalParameters.CNSMS,'/BasicData')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dl_sink_archive",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat('ods_arc_',item().name)",
											"type": "Expression"
										},
										"prefix_path": "archive",
										"db_code": {
											"value": "@pipeline().globalParameters.CNSMS",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"starttime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "lz_to_lk"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-17T13:29:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}